[mysqld]
user=mysql
innodb_stats_persistent=OFF
performance_schema=OFF

transaction-isolation = READ-COMMITTED
max_connections=500
open_files_limit=65535
event_scheduler=0
max_sp_recursion_depth=255
wait_timeout=50400
interactive_timeout=50400
max_allowed_packet=65MB
sql-mode="STRICT_ALL_TABLES"
table_open_cache=4096
table_definition_cache=4096
query_cache_type = 1
query_cache_size = 100M
key_buffer_size=67108864
key_cache_block_size=4096
concurrent_insert = 2

skip-character-set-client-handshake
collation_server=latin1_swedish_ci
character_set_server=latin1

# innodb
innodb_file_per_table=1
innodb_file_format=barracuda
innodb_strict_mode=1
innodb_write_io_threads=4
innodb_read_io_threads=4
innodb_support_xa=0
innodb_flush_method=O_DIRECT
innodb_adaptive_hash_index=0
innodb_buffer_pool_size=500M
# please be carefully doing changes here because that can cause error when restarting mysql!!
innodb_log_file_size=100M
innodb_log_files_in_group=3
innodb_log_buffer_size=64M

